*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none !important;
}

.header{
	width: 100%;
	padding: 20px 0px;
}

.container{
	width: 1140px;
	margin: 0 auto;
}

.menu ul{
	padding-top: 6px;
	padding-left: 58%;

}

.header-item1{
    color: #E22104 !important;
    font-size: 14px;
    margin:0px 8px;
    font-family: "Open Sans",sans-serif;
    text-transform: capitalize;
    text-align: right;
}

.header-item{
    color: #2F2D4E !important;
    font-size: 14px;
    margin:0px 8px;
    font-family: "Open Sans",sans-serif;
    text-transform: capitalize;
    text-align: right;
}

.header-item:hover{
	color: #E22104 !important;
}

.sm-icon ul{
	margin: 220px 60px 0px;
}

.sm-icon ul li{
	list-style: none;
	padding: 20px;
}

.sm-icon ul li a{
	font-size: 26px;
	color: #2f2d4e;
    transition: all .3s ease 0s;
}

.sm-icon ul li a i:hover{
	color: red;
    transition: all .3s ease 0s;
}

.button{
	display: inline-block;
    background-color: #e22104;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 30px;
    padding: 12px 45px;
    text-transform: capitalize;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    box-shadow: -5px 8px 20px 0 rgb(229 16 2 / 15%);
}

.banner-btn{
    margin-left: 24px;
}

.button:hover{
	background-color: red;
    color: #fff;
    transition: all .3s ease 0s;
}

.banner-left h1{
	font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    font-size: 70px;
    font-weight: 600;
    margin: 125px 0px 50px 20px;
}

.banner-left .play-btn{
	margin-left: 42px;
}

.banner-left .play{
    padding: 12px 5px 12px 16px!important;
    font-size: 14px;
    font-weight: 600;
    color: #2f2d4e;
}


.ban-c2{
	margin: 120px 27px 0px 0px;
}

.ban-c1{
	margin: 120px 27px 0px 10px;
    border-right: 1px solid #e9e3e3;
    padding-right: 35px;
}

.ban-c1 p{
	font-size: 18px;
	font-weight: 600;
	font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
}

.ban-c2 p{
	font-size: 18px;
	font-weight: 600;
	font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
}
.owl-prev span{
    opacity: 0;
}

.owl-next span{
    opacity: 0;
}

.owl-dots{
    position: absolute;
    top: 97%;
    right: 42%;
}

.about{
    width: 100%;
    padding: 130px 0px;
}

.img-r{
    position: relative;
}

.img-a{
    position: absolute;
    right: -15px;
    top: 45%;
}

.about-c{
    padding-left: 85px;
}

.title{
    display: inline-block;
    font-size: 24px;
    color: #e22104;
    padding-right: 115px;
    position: relative;
    margin: 10px 0px;
}

.title::after{
    content: "";
    display: block;
    height: 1px;
    min-width: 100px;
    background-color: #3a414e;
    position: absolute;
    top: 60%;
    right: 0;
    transform: translateY(-50%);
}

.title-1{
    font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    font-size: 50px;
    line-height: 1.2;
    margin: 10px 0px 0px;
}

.about-c p{
    color: #888;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin: 25px 95px 35px 0px;
}

.feature{
    width: 100%;
    padding: 30px 50px 90px 0px;
}

.f-img{
    margin-top: 70px;
}

.f-content{
    padding: 30px;
    background-color: #fff8f7;
}

.f-content a h3{
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
}
.f-content p{
    color: #888;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 12px;
}

.rating i{
    font-size: 11px;
    color: #ffbe0f;
} 

.price{
    font-family: "Open Sans",sans-serif;
    color: #e22104;
    font-size: 24px;
    font-weight: 600; 
}

.f-content:hover{
 box-shadow: 0px 10px 20px 0px rgb(8 6 89 / 10%);
 background-color: white;
}

.feature .owl-dots{
    display: none !important;
} 

.feature .owl-prev span{
    opacity: 1 !important;
    font-size: 40px;
    font-weight: 100;
    color: #888;

}

.feature .owl-next span{
    opacity: 1 !important;
    font-size: 40px;
    font-weight: 100;
    color: #888;
}

.offer{
    width: 100%;
    padding: 130px 0px;
    background: #fff8f7;
}

.offer-img{
    position: relative !important;
}

.offer-card {
    background: #e22104;
    color: #fff;
    text-align: center;
    padding: 80px 100px;
    position: absolute;
    right: 12%;
    top:18%;
    box-shadow: -13px 2px 20px 0 rgb(8 6 89 / 20%);    
}

.offer-card h3{
    font-size: 40px;
    margin-bottom: 25px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 600;
    color: #fff;
}

.offer-card h2{
    font-size: 60px;
    margin-bottom: 25px;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 600;
    color: #fff;
}

.offer-card a{
    border: 1px solid #fff;
    padding: 12px 45px;
}

.f-menu{
    width: 100%;
    padding: 100px 0px;
}

.menu-c{
    padding: 30px 40px;
    background: #fff8f7;
    margin-top: 25px;
}

.menu-c:hover{
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgb(8 6 89 / 10%);    
}

.food-card-c{
    padding-left: 20px;

}

.f-b{
    position: relative;
}

.f-b::after{
    content: "";
    display: block;
    height: 1px;
    min-width: 100px;
    position: absolute;
    top: 44%;
    right: 0;
    left: 105%;
    transform: translateY(-50%);
    background-color: black;
}

.food-card h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
}

.food-card h3{
    font-family: "Open Sans",sans-serif;
    color: #e22104;
    font-size: 20px;
    font-weight: 600;
    margin-left: 130px;
}

.p-s{
    color: #888;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 12px;
}

.reservation{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 130px 0px;
    background-color: rgba(2,1,15,.7);
    background-blend-mode: soft-light;
}

.r-content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.r-content div p{
    font-size: 20px !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-family: "open Sans",sans-serif !important;
    margin-bottom: 15px !important;
}

.r-content div h2{
    color: #fff !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    font-family: "Josefin Sans",sans-serif !important;
    margin-bottom: 40px !important;
}

.chef{
    width: 100%;
    padding: 80px 0px;
}

.c-img{
    position: relative !important;
    transition: 0.4s;
}

.c-name{
    padding: 14px 84px;
    margin: 0px 15px;
    position: absolute;
    bottom: 2%;
    right: 0px;
    background-color: white;
    z-index: 99999;
}

.c-name h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
}


.c-overlay{
    background-color: rgba(2,1,15,.6);
    position: absolute;
    top: 0;
    padding: 0px 18px 55px;
    z-index: 99;
    opacity: 0;
    transition: 0.4s;
}

.c-img:hover .c-overlay{
    background-color: rgba(2,1,15,.5);
    position: absolute;
    top: 0%;
    padding: 142px 18px;
    z-index: 99;
    opacity: 1;
    transition: 0.4s;
}

.c-overlay ul li{
    list-style: none;

} 

.c-icon{
    padding-left: 19rem;
}

.c-icon li a i{
    color: white;
    font-size: 16px;
    padding-bottom:8px ;
    z-index: 9999;
    opacity: 1 !important;
    transition: all .3s ease 0s;
}

.c-icon li a i:hover{
    color: red;
    transition: all .3s ease 0s;
}

.form{
    width: 100%;
    padding: 130px 0px;
    background: #fff8f7;
}

.form-l{
    padding-right: 100px;
    padding-top: 140px;
}

.form-card{
    background-image: url(../img/b-table.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(2,1,15,.7);
    background-blend-mode: soft-light;
    position: relative;
}


.form-card h3{
    font-family: "josefin Sans",sans-serif;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin: 45px 0px 28px;
}

.form-c{
    border: none;
    margin: 15px 25px;
    padding: 15px 175px 15px 20px;
    position: relative;
}

.f-input{
    padding: 0px 60px 70px;
}  

.form-c::placeholder{
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #b6b4b4;
     font-family: "open Sans",sans-serif
 }

 .form-c:focus{
    outline: none;
 }

 .form-i{
    display: flex;
    align-items: center;
 }

 .m-btn{
    position: absolute;
    bottom: -21px;
    right: 32%;
}
.icons{
    font-size: 20px;
    right: 120px;
    position: absolute;
    color: #b6b4b4;
}

.sticky{
    width: 100%;
    position: fixed;
    padding: 10px 0px;
    background-color: #7676ff;
    z-index: 99999999;
    top: 0;
    left: 0;
}

.footer{
    width: 100%;
    padding: 120px 0px;
    background: #fff8f7;
}

.footer-c h3{
    font-size: 24px;
    font-weight: 600;
    font-family: "Josefin Sans",sans-serif;
    color: #2f2d4e;
    line-height: 1.2;
    margin-bottom: 30px;
}

.footer-c div input{
    height: 52px;
    width: 80% !important;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 70px;
    border-radius: 0;
    font-size: 16px;
    color: #999999;
    background-color: transparent;
    border: 1px solid #adb5bd;
}

.footer-c div input:focus{
    outline: none;
}

.email{
    display: inline-block !important;
}

.send{
    padding: 14.5px 20px 13.5px;
    border: none;
    background-color: #e22104;;
    color: white;
    margin-left: -5px;
}

.send a i{
    color: white !important;
} 

.footer-c p:hover{
    color: #e22104;
    transition: 0.3s;
}

.footer ul li{
    list-style: none;
    display: inline-block;
}

.footer ul li a{
    color: #fff !important;
    transition: .3s;
    font-size: 15px;
    width: 30px;
    height: 30px;
    padding: 8px 13px;
    line-height: 30px;
    margin-left: 8px;
    background-color: #2f2d4e;
}

.footer ul li a:hover{
    color: #fff;
    background-color: #e22104;;
}

.p-s a{
   color: #E22104 !important;
}